openapi: 3.2.0
info:
  title: E2B Sandbox Events Webhooks API
  version: 0.1.0
  description: "Documented REST surface for E2B sandbox lifecycle events and webhook\nsubscriptions. Modeled directly from the public documentation at\nhttps://e2b.dev/docs/sandbox/lifecycle-events-webhooks and\nhttps://e2b.dev/docs/sandbox/lifecycle-events-api.\n\nThis spec covers two surfaces:\n  1. Polling REST events at /events/sandboxes (team-wide) and\n     /events/sandboxes/{sandboxID} (single sandbox).\n  2. Webhook subscription management at /events/webhooks, plus the\n     signed POST payload that E2B delivers to subscribed URLs.\n\nWebhook deliveries include the headers e2b-webhook-id,\ne2b-delivery-id, e2b-signature-version, and e2b-signature. The\nsignature is a base64-encoded SHA-256 of the concatenation of the\nsubscription secret and the raw payload body, with trailing \"=\"\npadding stripped.\n"
servers:
- url: https://api.e2b.app
security:
- ApiKeyAuth: []
tags:
- name: webhooks
paths:
  /events/webhooks:
    get:
      summary: List webhook subscriptions
      tags:
      - webhooks
      responses:
        '200':
          description: Registered webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
    post:
      summary: Register a webhook subscription
      tags:
      - webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
  /events/webhooks/{webhookID}:
    get:
      summary: Get a webhook subscription
      tags:
      - webhooks
      parameters:
      - $ref: '#/components/parameters/webhookID'
      responses:
        '200':
          description: Webhook configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
    patch:
      summary: Update a webhook subscription
      tags:
      - webhooks
      parameters:
      - $ref: '#/components/parameters/webhookID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
      responses:
        '200':
          description: Updated webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
    delete:
      summary: Delete a webhook subscription
      tags:
      - webhooks
      parameters:
      - $ref: '#/components/parameters/webhookID'
      responses:
        '200':
          description: Webhook deleted
components:
  schemas:
    SandboxLifecycleEventType:
      type: string
      description: Documented sandbox lifecycle event types.
      enum:
      - sandbox.lifecycle.created
      - sandbox.lifecycle.updated
      - sandbox.lifecycle.killed
      - sandbox.lifecycle.paused
      - sandbox.lifecycle.resumed
      - sandbox.lifecycle.checkpointed
    WebhookUpdateRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
        enabled:
          type: boolean
        events:
          type: array
          items:
            $ref: '#/components/schemas/SandboxLifecycleEventType'
    WebhookCreateRequest:
      type: object
      required:
      - name
      - url
      - events
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        enabled:
          type: boolean
          default: true
        events:
          type: array
          items:
            $ref: '#/components/schemas/SandboxLifecycleEventType'
        signatureSecret:
          type: string
          description: Shared secret used to sign delivery payloads.
    Webhook:
      type: object
      required:
      - id
      - teamId
      - name
      - url
      - events
      properties:
        id:
          type: string
        teamId:
          type: string
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        enabled:
          type: boolean
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            $ref: '#/components/schemas/SandboxLifecycleEventType'
  parameters:
    webhookID:
      name: webhookID
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
