openapi: 3.2.0
info:
  title: E2B Sandbox Events Webhooks API
  version: 0.1.0
  description: 'Documented REST surface for E2B sandbox lifecycle events and webhook

    subscriptions.'
servers:
- url: https://api.e2b.app
security:
- ApiKeyAuth: []
tags:
- name: Webhooks
paths:
  /events/webhooks:
    get:
      summary: List webhook subscriptions
      tags:
      - Webhooks
      responses:
        '200':
          description: Registered webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
      operationId: getEventsWebhooks
      x-operation-id-source: derived
    post:
      summary: Register a webhook subscription
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: postEventsWebhooks
      x-operation-id-source: derived
  /events/webhooks/{webhookID}:
    get:
      summary: Get a webhook subscription
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/webhookID'
      responses:
        '200':
          description: Webhook configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: getEventsWebhooksByWebhookID
      x-operation-id-source: derived
    patch:
      summary: Update a webhook subscription
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/webhookID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
      responses:
        '200':
          description: Updated webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: patchEventsWebhooksByWebhookID
      x-operation-id-source: derived
    delete:
      summary: Delete a webhook subscription
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/webhookID'
      responses:
        '200':
          description: Webhook deleted
      operationId: deleteEventsWebhooksByWebhookID
      x-operation-id-source: derived
components:
  schemas:
    WebhookCreateRequest:
      type: object
      required:
      - name
      - url
      - events
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        enabled:
          type: boolean
          default: true
        events:
          type: array
          items:
            $ref: '#/components/schemas/SandboxLifecycleEventType'
        signatureSecret:
          type: string
          description: Shared secret used to sign delivery payloads.
    WebhookUpdateRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
        enabled:
          type: boolean
        events:
          type: array
          items:
            $ref: '#/components/schemas/SandboxLifecycleEventType'
    SandboxLifecycleEventType:
      type: string
      description: Documented sandbox lifecycle event types.
      enum:
      - sandbox.lifecycle.created
      - sandbox.lifecycle.updated
      - sandbox.lifecycle.killed
      - sandbox.lifecycle.paused
      - sandbox.lifecycle.resumed
      - sandbox.lifecycle.checkpointed
    Webhook:
      type: object
      required:
      - id
      - teamId
      - name
      - url
      - events
      properties:
        id:
          type: string
        teamId:
          type: string
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        enabled:
          type: boolean
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            $ref: '#/components/schemas/SandboxLifecycleEventType'
  parameters:
    webhookID:
      name: webhookID
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
